@charset "utf-8";
.jiu-nav-main{ width:100%; height:50px; background:#fff;box-shadow: 0 1px 1px rgba(212, 212, 212, 0.3);}
.subNav{ position: relative;width:980px; height:50px; margin:0 auto;}
.subNav ul li{ display:block; float:left;margin-right:10px; display:inline; margin-top:15px;}
.subNav ul li a { position:relative; height:22px; line-height: 20px; color:#666;padding: 0 10px; text-align: center; display: inline-block;  border-radius: 2px;}
.subNav ul li a:hover{ text-decoration:underline; color:#666;}
.subNav ul li a.active {color:#ff3366; background: #e2e2e2; text-decoration:none;}
.subNav ul li a.green{ color:#ff3366;}

@charset "utf-8";
/* CSS Document */
.content1{ padding:10px 15px 50px; width:1200px;background: #fff none repeat scroll 0 0;}
.content1 .map-web{ width:1200px; height:auto; overflow:hidden;}
.content1 .map-web a{ margin:4px;}
.content1 .map-web h2{ font-size:18px; border-bottom:1px dotted #ddd; line-height:38px; margin-bottom:10px; font-weight:normal;text-align: left;}
.content1 .map-web div h3{ float:left; font-size:14px; font-weight:bold; width:60px;  line-height:16px;}
.content1 .map-web div h3 a{ margin:0px;}
.content1 .map-web div a:hover{ color:#5e5e5e; text-decoration:underline;}
.content1 .map-web div .tags-all{ clear:both;}
.content1 .map-web .clearfix{ width:1200px; height:auto; overflow:hidden;}
.content1 .map-web .tags-next{ margin-top:20px;}
.content1 .map-web div .tags-all li{
	float: left;
    white-space: nowrap;
    width: auto;
}
.content1 .map-web div .tags-all li a{
	background:#fff;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;}
.content1 .map-web div .tags-all li a:hover{ border:1px solid #999;}
.clear{zoom: 1;clear: both;text-align: left;}


/*.top_nav by 华美网络 start*/
.line-cate-nav-location{height: 50px;}
.line-cate-nav-location.hidn {
height: 0;
}
.line-cate-nav-location.hidn .line-cate-nav-wrapper {
display: none;
}
.line-cate-nav-location .line-cate-nav-wrapper{width: 100%;background-color: #fff;padding: 15px 0;}
.line-cate-nav-location.hidden {height: 0;}
.line-cate-nav-location.hidden .line-cate-nav-wrapper{display: none;}
.line-cate-nav-location .line-cate-nav-wrapper.fix-top{position: fixed; top: 0; left: 0; width: 100%; z-index:999; display: inline-block;-webkit-box-shadow:0px 0px 4px #999; -moz-box-shadow: 0px 0px 4px #999; box-shadow: 0px 0px 4px #999;}
.line-cate-nav{width: 1200px;margin: 0 auto;height: 20px;line-height: 20px;}
.line-cate-nav li{float: left;height: 20px; line-height: 20px; padding: 0 15px;}
.line-cate-nav li a {display: block; height: 20px; line-height: 20px; font-size: 14px; color: #333;}
.line-cate-nav li a:hover, .line-cate-nav li a.active{color: #ff464e}
.line-cate-nav li.first{border-right: 1px solid #ccc;padding-left: 0;}
.line-cate-nav li.last a {color: #336600;}
/*THE END*/