.detail-main
{
	background:#fcfcfc;
	float:left;
	width:790px;
	border-right:1px solid #e8e8e8;
	box-shadow:1px 0 1px rgba(200,200,200,.2);
}

.easybuy-detail-con
{
	background:#fff;
	padding:30px;
}
.easybuy-detail-title h2
{
	font-size:22px;
	color:#333;
	font-family:tahoma,arial,'Hiragino Sans GB',\5fae\8f6f\96c5\9ed1;
}

.easybuy-detail-title .price-labes .discount
{
	display:inline-block;
	color:#fff;
	background:#f40;
	border-radius:2px;
	margin-right:10px;
	padding:0 5px;
}

.easybuy-detail-title .price-labes .price
{
	font-weight:700;
	font-size:20px;
	margin-right:10px;
}

.easybuy-detail-title .price-labes .price-del
{
	color:#bebebe;
	text-decoration:line-through;
}

.easybuy-detail-title .price-title
{
	color:#e22c37;
	font-size:16px;
	margin-top:5px;
	position:relative;
	padding-left:40px;
}

.easybuy-detail-title .price-title .g-bg-icon
{
	position:absolute;
	top:0;
	left:0;
	width:33px;
	height:33px;
	background-position:-86px -30px;
}
.easybuy-detail-title .price-labes 
{
	font-size:14px;
}
.easybuy-detail-title h2 a 
{
	color:#333;
}
.easybuy-detail-title h2 a em,.easybuy-detail-title .price-title a
{
	color:#e22c37;
}
.easybuy-detail-title .price-labes .price em
{
	color:#e22c37;
	font-weight:700;
}
.easybuy-detail-des .go-link
{
	position:absolute;
	width:180px;
	right:0;
	top:-30px;
	text-align:center;
}

.easybuy-detail-des .go-link .img
{
	border:1px solid #e8e8e8;
	display:block;
	overflow:hidden;
}

.easybuy-detail-des .go-link img
{
	display:block;
	width:180px;
	height:180px;
}

.easybuy-detail-des .go-link .go-btn
{
	font-weight:400;
	text-align:center;
	display:inline-block;
	width:140px;
	height:35px;
	line-height:35px;
	color:#fff!important;
	font-size:18px;
	border-radius:2px;
	background-color:#e40512;
	background-image:linear-gradient(top,#ee000e,#d60d1a);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEE000E,endColorstr=#FFD60D1A,GradientType=0);
	text-shadow:0 1px 0 #000;
	-webkit-box-shadow:1px 1px 2px #f5616a inset,0 1px 3px #ccc;
	moz-box-shadow:1px 1px 2px #f5616a inset,0 1px 3px #ccc;
	box-shadow:1px 1px 2px #f5616a inset,0 1px 3px #ccc;
	margin:20px auto 0;
}

.easybuy-detail-des .txt
{
	margin-right:290px;
	margin-top:25px;
	line-height:22px;
	min-height:150px;
	font-size:14px;
	word-break:break-all;
	overflow:hidden;
}

.easybuy-detail-des .date
{
	margin-top:10px;
	color:#a3a3a3;
}
.easybuy-detail-des
{
	position:relative;
}
.easybuy-detail-imgs
{
	text-align:center;
	overflow:hidden;
	padding:40px 0 20px;
}
.easybuy-detail-imgs img
{
	margin-bottom:20px;
}
.bl-maylike-slide .slide-con
{
	width:100%;
	overflow:hidden;
	position:relative;
}
.bl-maylike-slide .slide-item span em 
{
	color:#e22c37;
}
.bl-maylike-slide
{
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding:10px 10px;
}

.bl-maylike-slide h3
{
	margin-bottom:10px;
	font-size:14px;
	color:#333;
}

.bl-maylike-slide .slide-item
{
	float:left;
	border:1px solid #e8e8e8;
	background:#fff;
	width:230px;
	height:120px;
	margin-right:7px;
	position:relative;
	padding:10px;
}

.bl-maylike-slide .slide-item img
{
	display:block;
	width:120px;
	height:120px;
}

.bl-maylike-slide .slide-item span
{
	position:absolute;
	right:10px;
	top:35px;
	height:60px;
	width:105px;
	overflow:hidden;
	line-height:20px;
}

.bl-maylike-slide .slide-btn
{
	position:absolute;
	top:55px;
	width:40px;
	height:40px;
	line-height:40px;
	color:#fff;
	background:rgba(127,127,127,.5);
	z-index:20;
	text-align:center;
	font-size:18px;
}

.bl-maylike-slide .slide-pre
{
	left:-40px;
}

.bl-maylike-slide .slide-next
{
	right:-40px;
}

.bl-maylike-slide .slide-con-wrap
{
	width:780px;
	height:142px;
	overflow:hidden;
}